<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episteme | {% block title %}Bienvenue{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/Episteme_logo.png') }}">
    <link rel="stylesheet" href="{{ asset('css/global/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/global/themes.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/base.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="/{{ app.request.locale }}">Episteme</a></h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/{{ app.request.locale }}/about">{{ 'public.navbar.about_title'|trans }}</a></li>
                <li><a href="/{{ app.request.locale }}/podcasts">Podcasts</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block body %}
            <p>Contenu en cours de chargement...</p>
        {% endblock %}
    </div>
    <footer class="footer">
        <aside style="align-items: center; display: flex; gap: 20px;">
            <img id="EpistemeSnow" width="50px" height="50px" src="{{ asset('img/Episteme_logo.png') }}" alt="Episteme logo">
            <a href="https://episteme-bde.fr" class="copy">
                <p>Copyright © 2024 Episteme</p>
            </a>
            <div id="ecoindex-badge"></div>
        </aside>
    </footer>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/global/themes.js') }}" defer></script>
        <script type="text/javascript" src="{{ asset('js/global/app.js') }}" defer></script>
        <script type="text/javascript" src="{{ asset('js/public/base.js') }}" defer></script>
        <script type="text/javascript" src="{{ asset('js/public/ecoindex-badge.js') }}" defer></script>
        <script>
            document.addEventListener('DOMContentLoaded', async () => {
                const locale = '{{ app.request.locale }}';
                const translationsKey = 'translations_' + locale;
                const localePath = window.location.origin + '/' + locale;

                const languageVersions = JSON.parse(localStorage.getItem('languageVersions')) || {};

                const currentVersion = '{{ translation_version(app.request.locale) }}';
                const storedVersion = languageVersions[locale];

                if (!localStorage.getItem(translationsKey) || storedVersion !== currentVersion) {
                    try {
                        const response = await fetch(localePath + '/translations');
                        if (response.ok) {
                            const translations = await response.json();
                            localStorage.setItem(translationsKey, JSON.stringify(translations));

                            languageVersions[locale] = currentVersion;
                            localStorage.setItem('languageVersions', JSON.stringify(languageVersions));

                            console.log(`Traductions mises à jour.`);
                        } else {
                            console.error('Erreur lors du chargement des traductions.');
                        }
                    } catch (error) {
                        console.error('Impossible de charger les traductions :', error);
                    }
                }
            });

        </script>

    {% endblock %}
</body>
</html>
