<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episteme | {% block title %}Bienvenue{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/Episteme_logo.png') }}">
    <link rel="stylesheet" href="{{ asset('css/global/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/global/themes.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/base.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="/{{ app.request.locale }}">Episteme</a></h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li class="language-switcher">
                    <svg viewBox="0 0 24 24" width="20" height="20" aria-hidden="true" class="languageIco"><path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path></svg>
                    <select onchange="location = this.value;" aria-label="Changer la langue">
                        <option value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" {% if app.request.locale == 'en' %}selected{% endif %}>
                            English
                        </option>
                        <option value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}" {% if app.request.locale == 'fr' %}selected{% endif %}>
                            Français
                        </option>
                    </select>
                </li>
                <li><a href="/{{ app.request.locale }}/about">{{ 'public.navbar.about_title'|trans }}</a></li>
                <li><a href="/{{ app.request.locale }}/clicker">{{ 'public.navbar.clicker_title'|trans }}</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block body %}
            <p>Contenu en cours de chargement...</p>
        {% endblock %}
    </div>
    <footer class="footer">
        <aside style="align-items: center; display: flex; gap: 20px;">
            <img id="EpistemeSnow" width="50px" height="50px" src="{{ asset('img/Episteme_logo.png') }}" alt="Episteme logo">
            <a href="https://episteme-bde.fr" class="copy">
                <p>Copyright © 2024 Episteme</p>
            </a>
        </aside>
    </footer>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/global/themes.js') }}" defer></script>
        <script type="text/javascript" src="{{ asset('js/global/app.js') }}" defer></script>
        <script type="text/javascript" src="{{ asset('js/public/base.js') }}" defer></script>
        <script>
            document.addEventListener('DOMContentLoaded', async () => {
                const locale = '{{ app.request.locale }}';
                const translationsKey = 'translations_' + locale;
                const localePath = window.location.origin + '/' + locale;

                const languageVersions = JSON.parse(localStorage.getItem('languageVersions')) || {};

                const currentVersion = '{{ translation_version(app.request.locale) }}';
                const storedVersion = languageVersions[locale];

                if (!localStorage.getItem(translationsKey) || storedVersion !== currentVersion) {
                    try {
                        const response = await fetch(localePath + '/translations');
                        if (response.ok) {
                            const translations = await response.json();
                            localStorage.setItem(translationsKey, JSON.stringify(translations));

                            languageVersions[locale] = currentVersion;
                            localStorage.setItem('languageVersions', JSON.stringify(languageVersions));

                            console.log(`Traductions mises à jour.`);
                        } else {
                            console.error('Erreur lors du chargement des traductions.');
                        }
                    } catch (error) {
                        console.error('Impossible de charger les traductions :', error);
                    }
                }
            });

        </script>

    {% endblock %}
</body>
</html>
